@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ITrainersService Trainers

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
     var userId = User.Id();
     var isTrainer = Trainers.IsUserTrainer(userId);
     var isAdmin = User.IsAdmin();

     @if (isAdmin)
     {
        <li class="dropdown">
            <a class="btn dropdown-toggle nav-link text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dropdownMenu" data-toggle="dropdown">Administration</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item dropdownMenu" asp-area="Admin" asp-controller="Products" asp-action="All">Products</a>
                <a class="dropdown-item dropdownMenu" asp-area="Admin" asp-controller="Recipes" asp-action="All">Recipes</a>
                <a class="dropdown-item dropdownMenu" asp-area="Admin" asp-controller="Trainers" asp-action="All">Trainers</a>
                <a class="dropdown-item dropdownMenu" asp-area="Admin" asp-controller="Sports" asp-action="All">Sports</a>
            </div>
        </li>
     }
     else
     {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Carts" asp-action="MyCart">My Cart</a>
        </li>

        @if(isTrainer)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Trainers" asp-action="MyProfile">Trainer Profile</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Trainers" asp-action="Become">Become Trainer</a>
            </li>
        }   
     }

    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
}
</ul>
