@model RecipeFormModel

@{
    ViewData["Title"] = "Add Recipe";
}

<h2 class="heading-margin text-center">Add Recipe</h2>

<partial name="_RecipesFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}