@model IEnumerable<RecipeListingViewModel>

@{
    ViewData["Title"] = "My Recipes";
    ViewBag.AllowRecipeEdit = true;
}

<h2 class="heading-margin text-center">My Recipes</h2>

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any recipes!</h2>
}

<partial name="_RecipesPartial" model="@Model" />