@model BecomeTrainerFormModel

@{
    ViewData["Title"] = "Become Trainer";
}

<h2 class="heading-margin text-center">Become Trainer</h2>

<partial name="_TrainersFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}